@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-10">
        <div class="text-center">
            <h1 class="display-4">Benvenuto in Pizzeria</h1>
            <a type="button" class="btn btn-outline-dark mb-2" asp-controller="Articolo" asp-action="Index"> Ordina Subito <i class="fa-solid fa-pizza-slice"></i></a>
            <p>Ordina la tua pizza preferita</p>
            <div class=" p-2" id="hero">

            <img src="https://www.triesteprima.it/~media/horizontal-hi/63689161222273/forno-a-legna-2.jpg" alt="Hero" class="rounded-2" />
            </div>
        </div>
    </div>
        @if(User.IsInRole("Admin")){
    <div class="col-md-2 bg-secondary rounded-3 p-3">
            <h5> Totale Ordini evasi</h5>
            <input class="form-control" type="text" id="totaleOrdini" value="0" disabled>
            <button id="aggiorna" class="btn btn-primary w-100 my-2">Aggiorna</button>

            <h5> Totale Incasso di Oggi</h5>

            <input class="form-control" type="date" id="data" />
            <button id="aggiornaTotale" class="btn btn-primary w-100 my-2">Aggiorna</button>
            <h6 id="totaleIncasso"> </h6>
    </div>
        }
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            $("#aggiorna").click(function(){
                $.ajax({
                    url: "/SezioneAdmin/OrdiniEvasi",
                    type: "GET",
                    success: function(data){
                        $("#totaleOrdini").val(data);
                    }
                });
            });
        });

     

    </script>
    <script>

        $(document).ready(function () {
            

            $("#aggiornaTotale").click(function () {

                var date = $("#data").val();
                var year = date.toString().split('-')[0];
                var month = date.toString().split('-')[1];
                var day = date.toString().split('-')[2];

                $.ajax({
                    url: '/SezioneAdmin/TotaleIncassodiOggi?year=' + year + '&month=' + month + '&day=' + day,
                    type: "GET",
                    success: function (data) {
                        $("#totaleIncasso").html("Totale Incasso di Oggi: " + data + "€");
                    }
                });
            });
        });
    </script>
}

